
<h1>Dodaj studenta</h1>

<form method="post">
<input type="text" id="Name" name="Name"/>
<input type="text" id="LastName" name="LastName"/>
<input type="text" id="Email" name="Email"/>
<input type="text" id="BirthDate" name="BirthDate"/>

<button type="submit">Zapisz</button>
</form>