@model Students

<h1>Edytuj dane</h1>
<form method="post">
    <input type="hidden" asp-for=@Model.StudentId />
    <div class="input-field col s6">
        <input asp-for="Name" type="text" class="validate">
        <label for="Name">Imię</label>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="input-field col s6">
        <input asp-for="LastName" type="text" class="validate">
        <label for="LastName">Nazwisko</label>
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="input-field col s6">
        <input asp-for="Email" type="text" class="validate">
        <label for="Email">E-mail</label>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="input-field col s6">
        <input asp-for="IndexNumber" type="text" class="validate">
        <label for="IndexNumber">Numer indeksu</label>
        <span asp-validation-for="IndexNumber"></span>
    </div>

    <button type="submit">Zapisz</button>
</form>