@model StudenciIndexViewModel

<h1>To jest lista studentów</h1>
<p>
    @ViewBag.Opis
</p>
<a href="/student/create" class="btn">Dodaj studenta</a>


<form method="get">
    <label for="query">Szukaj:</label>
    <input type="text" asp-for="Query" />
    <button type="submit">Szukaj</button>
</form>


<table class="striped">
    <thead>
        <tr>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Numer indeksu</td>
            <td>Szczegoly</td>
            <td>Edytuj</td>
            <td>Usuwanie</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.LastName</td>
                <td>@student.IndexNumber</td>
                <td>
                    <a class="waves-effect waves-light btn-small"
                       href="/student/details/@student.StudentId">Wyswietl</a>
                </td>
                <td>
                    <a class="waves-effect waves-light btn-small"
                       href="/student/edit/@student.StudentId">Edytuj</a>
                </td>
                <td>
                    <form action="/student/delete/@student.StudentId" method="post">
                        <button type="submit">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>
