

<h1>To jest indeks</h1>
<p>
    Ala ma kota i psa
</p>
<p>
@*Komentarz*@
</p>
<p>
    <ul>
        @for(int i=0 ;i<10; i++)
            {
                <li>Element @i</li>
            }
    </ul>
</p>